body{
    margin: 0;
    padding: 0;
    background: url(https://img.freepik.com/foto-gratis/lavarse-manos-jabon-prevenir-enfermedades_1150-28351.jpg?w=2000);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
